@model IList<Journal>

@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">My Journals</li>
  </ol>
</nav>

<!-- persona -->
<div class="container">
	<h1>My <strong>Journals</strong></h1>

	@if (ViewBag.JournalPersonaMessage != null)
        {
            <button class="btn btn-persona mb-3 float-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
				<i class="bi bi-envelope"></i> AvoCoach sent you a message!</button>


            <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h2 class="offcanvas-title text-success text-center" id="offcanvasScrollingLabel">AvoCoach</h2>
				    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="col-3">
                        <img src="@ViewBag.JournalPersonaImageUrl" style="width:250px;height:250px">
                    </div>
                    <div class="col-9 py-3">
					<h5 class="">Hello @UserManager.GetUserAsync(User).Result.FirstName 👋</h5>
					<p>@ViewBag.JournalPersonaMessage</p>
                    </div>
                </div>
            </div>
        }


	<!-- create a new journal entry button -->
	<div class="pb-3">
		<a asp-controller="Journal" asp-action="Create" class="btn btn-success my-3">
			<i class="bi bi-plus-square-dotted mr-2"></i> Add Journal
		</a> 
	</div>
	<div class="row">
		@foreach(var journalEntry in Model)
		{
			<div class="col-12 col-md-6 col-lg-4 my-3">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title pb-3">@journalEntry.Title</h3>
                        <p><strong>@journalEntry.DateCreated.ToShortDateString()</strong></p>
                        <p>@journalEntry.JournalMessage</p>
                        <p>@journalEntry.Mood</p>


						<div>
							<!-- button link to edit journal -->
						    <a asp-controller="Journal" asp-action="Edit" asp-route-id="@journalEntry.Id" class="btn btn-primary-custom mr-2">
							    <i class="bi bi-pencil-square"></i>
						    </a>

							<!-- button link to delete journal -->
                            <a asp-controller="Journal" asp-action="Delete" asp-route-id="@journalEntry.Id" class="btn btn-outline-danger mr-2">
                                <i class="bi bi-trash"></i>
                            </a>
					    </div>
					</div> 
				</div>
			</div>
		}
	</div>
</div>